<div [formGroup]="form">
  <mat-form-field class="title">
    <input
      matInput
      formControlName="title"
      type="text"
      placeholder="Simple placeholder"
      (keyup.enter)="addItem()"
    />
    <!-- @if (value) {
                        <button matSuffix matIconButton aria-label="Clear" (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        } -->
  </mat-form-field>
  <mat-list role="list" formArrayName="items">
    @for (itemsForm of items.controls; track idx; let idx = $index) {
    <mat-list-item role="listitem" [formGroup]="$any(itemsForm)">
      <mat-checkbox class="example-margin"></mat-checkbox>
      <mat-form-field class="example-form-field">
        <input
          matInput
          formControlName="title"
          type="text"
          placeholder="Simple placeholder"
          (keyup.enter)="addItem()"
        />
        <!-- @if (value) {
                        <button matSuffix matIconButton aria-label="Clear" (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        } -->
      </mat-form-field>
    </mat-list-item>
    }
    <mat-list-item (click)="addItem()">
      <button matIconButton>
        <mat-icon class="add-course-btn">add</mat-icon>
      </button>
      <span> Add Item </span>
    </mat-list-item>
    @for (item of previewItems; track idx; let idx = $index) {
    <mat-list-item
      (click)="addItem(item); removeFromPreview(idx)"
      class="preview"
    >
      <button matIconButton>
        <mat-icon class="add-course-btn">add</mat-icon>
      </button>
      <span> {{ item }} </span>
    </mat-list-item>
    }
  </mat-list>

  <!-- <ng-container >
        <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
            <div class="lesson-form-row" [formGroup]="lessonForm">
                <mat-form-field appearance="fill">
                    <input matInput
                           formControlName="title"
                           placeholder="Lesson title">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-select formControlName="level"
                            placeholder="Lesson level">
                        <mat-option value="beginner">Beginner</mat-option>
                        <mat-option value="intermediate">Intermediate</mat-option>
                        <mat-option value="advanced">Advanced</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-icon class="delete-btn" (click)="deleteLesson(i)">
                    delete_forever</mat-icon>
            </div>
        </ng-container>
    </ng-container> -->
</div>

<button matButton (click)="runPreview()">Preview</button>

{{ preview }}
